body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#map, #map2 {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 10px;
}

#polygon-data {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.text-overlay h1 {
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.text-overlay h3 {
    font-size: 26px;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}


#btnContainer{
    position: absolute;
    top:20px;
    left: 100px;
    z-index: 1000;
}

.buttons{

    background-color: blue;
    color: white;
    height: 40px;
    width: 140px;
    font-size: 25px;

}